<h1>Update Student</h1>

<%= form_with model:@student do |f| %>
 <%= f.text_field :name, placeholder: "Enter your name"%>
    <br>
    <br>
    <%= f.text_field :age, placeholder: "Enter your age"%>
    <br>
    <br>
    <%=f.submit 'Update'%>
<% end %>
